@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.educator-main{
    height: 100vh;
}
.educator-main header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #f963af;
}
.educator-main header nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.educator-main header nav ul li{
    list-style: none;
}
.educator-main header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
.educator-main img{
    width: 250px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/imagenes/guarderia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80%;
    
}
main h1{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
main p{
    color: #ffffff;
}
main a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #f963af;
    border-radius: 20px;
}
